* {
  box-sizing: border-box;
}

.row::after {
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}


.col-1 {
  width: 100%;
}

html {
  font-family: "Roborto Mono", monospace;
  text-align: center;
  color: plum;
  background-color: purple;
}

h1 {
  font-family: "Roborto Mono", monospace;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.header {
  background-color: plum;
  color: white;
  padding: 15px;
  border-radius: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
  margin-bottom: 20px;
  background-color: violet;
  border-radius: 100px;
}

.menu li:hover {
  background-color: plum;
}


img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  border-radius: 30%;
}